
<div class='box-copia'>
    <div class='locazione'>
        <div class='armadio'>
            {{ copia.armadio }}
        </div>
        <div class='scaffale'>
            {{ copia.scaffale }}
        </div>
        <div class='posizione'>
            {{ copia.posizione }}
        </div>
    </div>

    <div class='edizione'>
        <a class='titolo' href='/edizioni/{{copia.edizione.id}}'
            >{{ copia.edizione.titolo }}</a>
        <br>
        <span class='casaeditrice'>{{ copia.edizione.casaeditrice }}</span>
        -
        <span class='anno'>{{ copia.edizione.anno }}</span>
        {% if copia.edizione.isbn|length > 0 %}
        <br>
        <span class='isbn'>ISBN:{{ copia.edizione.isbn }}</span>
        {% endif %}

        {% if copia.note and copia.note|length > 0 %}
        <br>
        <div id='box-copia-{{ copia.id }}-note' class='note'>
            {{ copia.note|linebreaks }}
        </div>
        <a  href='#' class='note-toggle'
            onclick='$("#box-copia-{{ copia.id }}-note").toggle()'
            >Note &laquo;</a>
        {% endif %}
    </div>
</div>

