{% extends "biblioteca/layout.html" %}

{% block head %}
    <link rel='stylesheet' type='text/css' href='/static/css/app/edizione/modifica.css'>

    <script type='text/javascript' src='/static/js/jquery.formset.js'></script>
    <script type='text/javascript'>

        function toggleNote(pos) {
            var textarea = $("#id_copie-"+pos+"-note");

            if( textarea.attr('readonly') == false )
                textarea
                    .attr('readonly', 'true')
                    .addClass('readonly');
            else
                textarea
                    .attr('readonly', '')
                    .removeClass('readonly');
        }

        $(function() {
            $("#tabella-autori tbody tr").formset({
                 prefix:        '{{ formset_autori.prefix }}'
                ,formCssClass:  'dynamic-formset1'
                ,addText:       '<img src="/static/img/list-add.png"> Aggiungi'
                ,deleteText:    '<img src="/static/img/list-remove.png"> Rimuovi'
                ,added:         function(row) { $(row).find('.errors').remove(); }
            });
            $("#copie .copia").formset({
                 prefix:        '{{ formset_copie.prefix }}'
                ,formCssClass:  'dynamic-formset2'
                ,addText:       '<img src="/static/img/list-add.png"> Aggiungi'
                ,deleteText:    '<img src="/static/img/list-remove.png"> Rimuovi'
                ,added:         function(row) {
                                    $(row)
                                        .removeClass('invalid')
                                        .find('.errors').remove();
                                }
            });
        });
    </script>

{% endblock %}

{% block content %}
    <form   method='post' action='' id='main_form'>
    {% csrf_token %}

    <h1>
        <a  href='#' style='float: right'
            onclick='$("#main_form").submit()' class='btn primary'
            >Salva</a>
        {% if object %}
            Modifica edizione
            <a class='btn' style='float: right' href='/edizioni/{{ object.id }}'>Annulla</a>
        {% else %}
            Nuova edizione
            <a class='btn' style='float: right' href='/edizioni/aggiungi/googlebooks'>Importa da Google Books</a>
        {% endif %}
    </h1>


    <h2>Informazioni di base</h2>
    <table id='tabella-form-info' class='form-layout'>
        {% for row in form %}
            <tr>
                <th>{{ row.label }} &raquo;</th>
                <td>{{ row }}</td>
                {% if row.errors %}
                <td class='error-column'>
                    <div class='error popover'>
                        <div class='left arrow'></div>
                        <div class='content'>
                            {{ row.errors }}
                        </div>
                    </div>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <div style='float: left; width: 40%; overflow: auto'>
        <h2>Autori</h2>
        <table id='tabella-autori'>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for row in formset_autori %}
                <tr>
                    <td>{{ row.id }}
                        {% if row.instance.pk %}{{ row.DELETE }}{% endif %}
                        {{ row.nome }}</td>
                    <td>{{ row.cognome }}</td>
                    <td></td>
                </tr>

                {% if row.errors %}
                <tr class='errors'>
                    {% for column in row %}
                    <td>
                        {% if column.errors %}
                        <div class='error popover'>
                            <div class='top arrow'></div>
                            <div class='content'>
                                {{ column.errors }}
                            </div>
                        </div>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endif %}

                {% endfor %}
            </tbody>
        </table>
        {{ formset_autori.management_form }}
    </div>

    <div style='float: right; width: 55%; overflow: auto'>
        <h2>Copie</h2>

        <div id='copie'>
            {% for copia in formset_copie %}
                {% if copia.errors %}
                <div class='copia invalid'>
                {% else %}
                <div class='copia'>
                {% endif %}
                    {{ copia.id }}

                    <div class='number'>
                        {% if copia.instance.pk %}
                            {{ forloop.counter }}
                        {% else %}
                            *
                        {% endif %}
                    </div>

                    <div class='row-content'>
                        <div class='horiz'>
                            <div>Locazione &raquo;</div>
                            <div>{{ copia.armadio }}</div>
                            <div>{{ copia.scaffale }}</div>
                            <div>{{ copia.posizione }}</div>
                        </div>

                        <div class='horiz'>
                            <div>Note &raquo;</div>
                            {{ copia.note }}
                        </div>

                        {% if copia.instance.pk %}
                            <div class='dataora'>Aggiunta il {{ copia.instance.dataora }}</div>
                            {{ copia.DELETE }}
                        {% endif %}

                        {% if copia.errors %}
                            <div class='errors'>
                            {% for field, errors in copia.errors.items %}
                                <div class='field'>
                                    <div class='name'>{{ field|capfirst }}</div>
                                    {{ errors }}
                                </div> 
                                <script type='text/javascript'>
                                    $(function() {
                                        $("#id_{{ copia.prefix }}-{{ field }}")
                                            .addClass('invalid');
                                    });
                                </script>
                            {% endfor %}
                            </div> 
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        </div>
        {{ formset_copie.management_form }}
    </div>


    <div style='clear: both;'>
        <a  href='#' class='btn primary' style='float: right'
            onclick='$("#main_form").submit()'
            >Salva</a>
    </div>
    </form>
{% endblock %}

