<html>
    <head>
        <title>Biblioteca scolastica I.I.S. "G.Curcio"</title>
        <!-- jquery.tools deve andare prima di jquery.ui
             Non chiedetemi perchè. -->
        <script type='text/javascript' src='/static/js/jquery.js'></script>
        <script type='text/javascript' src='/static/js/jquery.tools.min.js'></script> 
        <script type='text/javascript' src='/static/js/jquery.ui.js'></script>

        <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/static/css/app/style.css">
        <link rel="stylesheet" type="text/css" href="/static/css/app/layout.css">

        {% block head %}{% endblock %}
    </head>
        
    <body>

        {% if debug %}
            <div id='topleft-items'>
                <div id='date'>{% now "d-b-Y" %}</div>
                <div id='debug-msg'>Modalit&agrave; debug</div>
                <div id='db-debug'>
                    <a href='#' onclick='$("#query-list").dialog("open")'>Queries &raquo;</a>
                </div>
                <div id='query-list' style='display: none'>
                    <ul>
                    {% for query in sql_queries %}
                        <li>{{ query.sql }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <script type='text/javascript'>
                    $(function() {
                        $('#query-list').dialog({ autoOpen: false, title: 'Queries', width: 600 });
                    });
                </script>
            </div>
        {% endif %}
            
        <div id='topbar'>

                <a class='home' href='/'> 
                    <h1>Biblioteca Scolastica</h1>
                </a>
                <h2>Istituto Istruzione Superiore "G.Curcio", Ispica</h2>
                
                <div class='links horiz'>
                    <form action='/ricerca' method='get'>
                        <div class='fake-input'>
                            <img class='icon' src='/static/img/find.png'
                                onclick='$("#input-container form").submit()'
                                style='opacity: 0.7'>
                            <input type='text' name='q'
                                    placeholder='Ricerca'>
                        </div>
                    </form>
                    <a href='/armadi'>Armadi</a>
                    <a href='/prestiti'>Prestiti</a>
                    <a href='/edizioni/aggiungi'>
                        <img src='/static/img/add.png'>
                    </a>
                </div>

        </div>


        <div id='content' class='centered'>
            {% block content %}{% endblock %}
        </div>

        <div id='footer'>
            &copy; 2011 Sebastiano Barrera<br>
            La licenza &egrave; open source, il codice disponibile pubblicamente al relativo <a href='https://github.com/b-vast/Biblioteca_IISCurcio'>repository github</a>
        </div>
        
    </body>
</html>

