{% extends "biblioteca/layout.html" %}
{% load biblioteca_extras %}

{% block head %}
    <link rel='stylesheet' type='text/css' href='/static/css/app/prestito_list.css'>

    <script type='text/javascript'>

    function toggleSearch() {
        if( $("#searchform").css('display') == 'none' ) {
            $("#searchbtn").addClass('active');
            $("#searchform")
                .addClass('active')
                .show('blind', 'fast');
        } else {
            $("#searchbtn").removeClass('active');
            $("#searchform")
                .removeClass('active')
                .hide('blind', 'fast');
        }
    }

    </script>
{% endblock %}

{% block content %}

<h1>Prestiti</h1>

<div id='container'>

    <div id='searchbtn' onclick='toggleSearch()'
         {% if search %}class='active'{% endif %}>
        <img class='inactive' src='/static/img/find.png'>
        <img class='active' src='/static/img/find-inv.png'>
    </div>

    {% if search %}
    <div id='searchform' class='active'>
    {% else %}
    <div id='searchform' style='display: none'> 
    {% endif %}
            <form method='get'>
                {{ form.csrf_token }}
                <div id='ordine'>
                    Ordina per:<br>
                    {{ form.order }}
                </div>
                <label id='restituiti'>
                    <!-- <input type='checkbox' name='old'
                        {% if request.GET.old %}checked='true'{% endif %}>
                        -->
                    {{ form.restituiti }}
                    <span>Anche gi&agrave; restituiti</span>
                </label>
                <div class='fake-input'>
                        {{ form.query }}
                        <!-- <input type='text' name='q'
                        {% if search %}value='{{ query }}'{% endif %}> -->
                        <img class='icon' src='/static/img/find.png'
                            onclick='$("#searchform form").submit()'>
                </div>
            </form>
    </div>

    <div id='lista'>

        {% for prestito in object_list %}
        <div class='prestito'>
            <div class='beneficiario'>
                <a  class='link'
                    href='/prestiti/{{ prestito.id }}'
                    >
                    <span class='nome'>{{ prestito.nome }}</span>
                    <span class='cognome'>{{ prestito.cognome }}</span>
                    <span class='categoria'>{{ prestito.categoria }}</span>
                    <span class='classe'>{{ prestito.classe }}</span>
                </a>
            </div>
            <div class='data'>
                <span class='consegna'>{{ prestito.dataconsegna|date:"d M y" }}</span>
                {% if prestito.datarestituzione %}
                - 
                <span class='restituzione'>{{ prestito.datarestituzione|date:"d M y" }}</span>
                {% endif %}
                <span class='durata'>
                    ({{ prestito.durata|timedelta:"%d giorni" }})
                </span>
            </div>
            <div class='copia'>
                <div class='locazione'>
                    <span class='armadio'>{{ prestito.copia.armadio }}</span>
                    <span class='scaffale'>{{ prestito.copia.scaffale }}</span>
                    <span class='posizione'>{{ prestito.copia.posizione }}</span>
                </div>
                <a  href='/edizioni/{{prestito.copia.edizione.id}}'
                    class='titolo'
                    >{{ prestito.copia.edizione.titolo }}</a>
            </div>
        </div>
        {% endfor %}

    </div>
    

</div>

{% endblock %}

