{% extends "biblioteca/layout.html" %}
{% load biblioteca_extras %}

{% block head %}
    <link rel='stylesheet' type='text/css' href='/static/css/app/prestito_form.css'>
{% endblock %}

{% block content %}
    <h1>Modifica informazioni prestito</h1>
    <br>
    <div style='width: 75%; margin: auto'>
        {% box_copia copia %}
    </div>

    <h2>Informazioni prestito</h2>
        <form name='main_form' method='post' action='#'>
	    {% csrf_token %}

	    <fieldset>
		<div class='grouplabel'>Beneficiario &raquo;</div>

		<span class='label'>Nome</span>
		{% if form.nome.errors %}
		<div class='error popover'>
		    <div class='arrow top'></div>
		    <div class='content'>{{ form.nome.errors }}</div>
		</div>
		{% endif %}
		{{ form.nome }}

		<span class='label'>Cognome</span>
		{% if form.cognome.errors %}
		<div class='error popover'>
		    <div class='arrow top'></div>
		    <div class='content'>{{ form.cognome.errors }}</div>
		</div>
		{% endif %}
		{{ form.cognome }}

		<span class='label'>Categoria</span>
		{% if form.categoria.errors %}
		<div class='error popover'>
		    <div class='arrow top'></div>
		    <div class='content'>{{ form.categoria.errors }}</div>
		</div>
		{% endif %}
		{{ form.categoria }}

		<span class='label'>Classe</span>
		{% if form.classe.errors %}
		<div class='error popover'>
		    <div class='arrow top'></div>
		    <div class='content'>{{ form.classe.errors }}</div>
		</div>
		{% endif %}
		{{ form.classe }}
	    </fieldset>

	    <fieldset>
		<div class='grouplabel'>Responsabile &raquo;</div>

		<span class='label'>Nome</span>
		{% if form.nomeresp.errors %}
		<div class='error popover'>
		    <div class='arrow top'></div>
		    <div class='content'>{{ form.nomeresp.errors }}</div>
		</div>
		{% endif %}
		{{ form.nomeresp }}

		<span class='label'>Cognome</span>
		{% if form.cognomeresp.errors %}
		<div class='error popover'>
		    <div class='arrow top'></div>
		    <div class='content'>{{ form.cognomeresp.errors }}</div>
		</div>
		{% endif %}
		{{ form.cognomeresp }}
	    </fieldset>

	    <fieldset>
		<div class='grouplabel'>Date &raquo;</div>

		<span class='label'>Consegna</span>
		<span class='data consegna'>{{ form.instance.dataconsegna }}</span>

		<span class='label'>Restituzione</span>
		<span class='data restituzione'>{{ form.instance.datarestituzione|default:" - " }}</span>
	    </fieldset>

	    <fieldset class='note'>
		<div class='grouplabel'>Note &raquo;</div>
		{% if form.note.errors %}
		<div class='error popover'>
		    <div class='arrow top'></div>
		    <div class='content'>{{ form.note.errors }}</div>
		</div>
		{% endif %}
		{{ form.note }}
	    </fieldset>

	    <fieldset class='buttons'>
		<button
		    type='submit'
		    class='btn primary'
		    >Salva</button>
		<button
		    type='button'
		    class='btn'
		    onclick='window.history.back()'
		    >Annulla</button>
	    </fieldset>
        </form>

{% endblock %}

