{% extends "biblioteca/layout.html" %}
{% load biblioteca_extras %}

{% block head %}
    <link rel='stylesheet' type='text/css' href='/static/css/app/prestito/index.css'>

    <script type='text/javascript'>

    function toggleSearch() {
        if( $("#searchform").css('display') == 'none' ) {
            $("#searchbtn").addClass('active');
            $("#searchform")
                .addClass('active')
                .show('blind', 'fast');
        } else {
            $("#searchbtn").removeClass('active');
            $("#searchform")
                .removeClass('active')
                .hide('blind', 'fast');
        }
    }

    </script>
{% endblock %}

{% block content %}

<h1>Prestiti</h1>

<div id='container'>

    <div id='searchbtn'
        onclick='toggleSearch()'>
        <img class='inactive' src='/static/img/find.png'>
        <img class='active' src='/static/img/find-inv.png'>
    </div>

    <div id='searchform' style='display: none'>
            <form method='get'>
                <div id='old' class='checkbox'>
                    <input type='checkbox' name='old'>
                    <span>Anche gi&agrave; restituiti</span>
                </div>
                <div class='fake-input'>
                        <input type='text' name='q'>
                        <img class='icon' src='/static/img/find.png'
                            onclick='$("#searchform form").submit()'>
                </div>
            </form>
    </div>

    <div id='lista'>

        {% for prestito in object_list %}
        <div class='prestito'>
            <div class='data'>
                <span class='consegna'>{{ prestito.dataconsegna|date:"d M y" }}</span>
                {% if prestito.datarestituzione %}
                <br>
                <span class='restituzione'>{{ prestito.datarestituzione|date:"d M y" }}</span>
                {% else %}
                <span class='durata'>
                    ({{ prestito.durata|timedelta:"%d giorni" }})
                </span>
                {% endif %}
            </div>
            <div class='info'>
                <div class='beneficiario'>
                    <span class='nome'>{{ prestito.nome }}</span>
                    <span class='cognome'>{{ prestito.cognome }}</span>
                    <span class='categoria'>{{ prestito.categoria }}</span>
                    <span class='classe'>{{ prestito.classe }}</span>
                </div>
                <div class='copia'>
                    <div class='locazione'>
                        <span class='armadio'>{{ prestito.copia.armadio }}</span>
                        <span class='scaffale'>{{ prestito.copia.scaffale }}</span>
                        <span class='posizione'>{{ prestito.copia.posizione }}</span>
                    </div>
                    <a  href='/edizioni/{{prestito.copia.edizione.id}}'
                        class='titolo'
                        >{{ prestito.copia.edizione.titolo }}</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    

</div>

{% endblock %}

