
#ricerca {
    padding: 20px 20px;
    border-bottom: 1px solid #dfdfdf;
}
#ricerca .fake-input {
    width: 500px;
}

.prestito { overflow: auto; }
.prestito .data {
    float: left;
    color: #a0a0a0;
    text-align: center;
    padding: 5px;
    border-right: 1px dotted #dfdfdf;
    margin-right: 5px;
}
.prestito .data .giorno { font-size: 24pt; }
.prestito .data .mese { position: relative; bottom: 7px; }


.prestito .beneficiario {
    padding-top: 9px;
}
.prestito .nome,
.prestito .cognome {
    font-size: 11pt;
    font-weight: bold;
}
.prestito .categoria,
.prestito .classe {
    font-size: 10pt;
    color: green;
}

.prestito .link {
    color: black;
    padding: 2px 8px;
}
.prestito .link:hover {
    text-decoration: underline;
    background-color: #f0f0f0; /*#499bea;*/
    border-radius: 5px;
}


.prestito .armadio {
    margin-left: 10px;
    font-size: 13pt;
    font-weight: bold;
}
.prestito .scaffale,
.prestito .posizione {
    font-size: 12pt;
    font-weight: bold;
    border-left: 1px dotted #a0a0a0;
    padding-left: 3px;
}

.prestito .titolo {
    padding-left: 8px;
    width: 16em;
    padding-top: 0.25em;
    vertical-align: top;
}

