
fieldset {
    border: none;
    overflow: hidden;
}
fieldset.note {
    height: 120px;
}
fieldset.buttons {
    margin-left: 181px;
}

fieldset input, fieldset div, fieldset span {
    display: inline-block;
    margin: 0;
}

.grouplabel {
    width: 150px;
    padding: 25px 10px;
    margin-right: 10px;
    font-size: 14pt;
    font-weight: bold;
    border-right: 1px dotted #dfdfdf;
    text-align: right;
}
fieldset.note .grouplabel { height: 150px; }
.label {
    position: absolute;
    margin-top: 60px;
    font-size: 8pt;
    font-style: italic;
}

input[type='text'] {
    width: 170px;
    margin-right: 5px;
}
input[name='nome'], input[name='cognome'] {
    font-weight: bold;
    font-size: 12pt;
}
input[name='categoria'], input[name='classe'] {
    color: green;
}
input[name='nomeresp'], input[name='cognomeresp'] {
    color: #115CCC;
}
textarea {
    margin-bottom: -70px;
}

.data {
    padding: 20px 10px;
    font-weight: bold;
    width: 170px;
}
.data.restituzione { color: red; }
.data.consegna { color: #333; }

/*
   dataconsegna { 
    padding-left: 25px;
    color: #707070;
}
 */


.error.popover {
    position: absolute;
    margin-top: 80px;
    margin-left: -20px;
}
.error.popover .arrow {
    position: relative;
    left: 30px;
}

td.commands {
    padding: auto 20px;
}



